[submodule "third_party/hamer"]
	path = third_party/hamer
	url = git@github.com:Learner209/hamer.git
[submodule "third_party/humor"]
	path = third_party/humor
	url = git@github.com:Learner209/humor.git
[submodule "third_party/rich_toolkit"]
	path = third_party/rich_toolkit
	url = git@github.com:Learner209/rich_toolkit.git
[submodule "third_party/hps_toolkit"]
	path = third_party/hps_toolkit
	url = git@github.com:Learner209/hps_toolkit.git
[submodule "third_party/slowfast"]
	path = third_party/slowfast
	url = git@github.com:Learner209/SlowFast.git
[submodule "third_party/cloudrender"]
	path = third_party/cloudrender
	url = git@github.com:Learner209/cloudrender.git
